/* BLOG */

.blog-section {
    margin: auto;
}

.blog-section .blog-title {
    margin-top: 120px;
    margin-bottom: 33px;
    text-align: center;
    letter-spacing: 6px;
    font-family: roboto-black;
    font-size: 27px;
   
}

.blog-section > .blog-section-info {
    width: 40%;
    font-family: roboto-medium;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 35px;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 1px;
  
}

.blog-section-img-container {
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap;
    
}

.blog-img-container {
    position: relative;
    width: 420px;
    height: 590px;
    background-position: center;
    text-align: center;
    
}

.img-container {
    margin:auto;
    width: 338px;
    height: 370px;
   
    position:relative;
    background-size: 465px;
    background-repeat: no-repeat;
    background-position: center;
    
}



.blog-section > .blog-section-img-container .first-img{    
    background-image: url(../BLOG/kvalitet-ne-izlazi-iz-mode-1000x800px.jpg);
}
.blog-section > .blog-section-img-container .second-img{    
    background-image: url(../BLOG/optimizacija-sajta-1000x800px.jpg);
}
.blog-section > .blog-section-img-container .third-img{    
    background-image: url(../BLOG/psihologija-boja-1000x800px.jpg);
  }
 
  .title-link-container {
    margin-top: 28px;
    font-family: roboto-medium;
    letter-spacing: 2px;
    font-size: 15px;
    
   
}

.date-box{
    position: absolute;
    top: 0;
    right: 0;
    width: 83px;
    height: 95px;
    padding-top: 20px;
    line-height: 30px;
    text-align: center;
    font-size: 18px;
    color: white;
    background-color: #f35923;
    font-family: roboto-regular;
    letter-spacing: 2px;
}

.title-link-container > h3{
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 8px;
}

.title-link-container > h4{
    font-size: 14px;
    font-weight: lighter;
    color: grey;
    font-family: roboto-regular;
    margin-bottom: 16px;
}

.title-link-container > a{
    font-size: 12px;
    letter-spacing: 1px;
    color: rgba(241,90,35,1);
    text-decoration: none;
}

.title-link-container > a > .arrow{
    width: 10px;
    height: 1px;
    background-color: rgba(241,90,35,1);
    display: inline-block;
    margin-bottom: 2px;
    position: relative;
}

.title-link-container > a > .arrow::after{
    content: "";
    width: 5px;
    height: 5px;
    border: 1px solid rgba(241,90,35,1);
    border-left: none;
    border-bottom: none;
    transform: rotateZ(45deg);
    position: absolute;
    top: -2.3px;
    left: 3px;
}

/* Upoznajte naš tim */

.team-section {
    margin: auto;
    background-color: #ffe3d8;
   
}

.team-section  .team-title  {
    padding-top: 100px;
    padding-bottom: 25px; 
    text-align: center;
    letter-spacing: 6px;
    font-family: roboto-black;
    font-size: 27px;
  
   
}

.team-section-img-container {
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap;
    margin-top: 35px;
}

.team-img-container {
    position: relative;
    width: 420px;
    height: 530px;
    background-position: center;
    text-align: center;
   
}

.img-team {
    margin:auto;
    width: 350px;
    height: 420px;
    position:relative;
    background-repeat: no-repeat;
    background-position: center;
    
}

.team-section > .team-section-img-container .first-team-img{    
    background-image: url(../Tim/Ime-Prezime-1-350x420px.jpg);
}
.team-section > .team-section-img-container .second-team-img{    
    background-image: url(../Tim/Ime-Prezime-2-350x420px.jpg);
}
.team-section > .team-section-img-container .third-team-img{    
    background-image: url(../Tim/Ime-Prezime-3-350x420px.jpg);
  }

  .team-box{
    margin:auto;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 330px;
    height: 400px;
    padding-top: 115px;
    padding-left: 11px;
    padding-right: 11px;
   
    text-align: center;
    
    color: white;
    background-image: linear-gradient(45deg, rgba(238, 92, 35, 0.75), rgba(250, 169, 18, 0.75));
    font-family: roboto-regular;
    
}


.team-box i {
    margin: auto;
    color:white;
    display: inline-block;
    letter-spacing: 18px;
    padding-bottom: 30px;    
}

.team-box i:hover {
    color:black;
}

.team-member {
    display: inline-block;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: roboto-medium;
    padding-top: 20px;
    padding-bottom: 5px;
    
}

.team-position {
    font-size: 14px;
    display: inline-block;
    color:black;
    font-style: normal;
    font-family: roboto-medium;
    letter-spacing: 1px;
    padding-bottom: 12px;
}

.team-underline {
    display: inline-block;
    width: 45px;
    height: 3px;
    margin: auto;
    background-color: white;
    
    
}

.team-text {
    font-size: 11px;
    display: inline-block;
    line-height: 25px;
    letter-spacing: 1px;
    font-style: normal;
    padding-top: 14px;

}



