* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

.b-creative {
    margin: auto;
  
}

@font-face {
    font-family: roboto-medium;
    src: url(../Roboto/Roboto-Medium.ttf);
  }

  @font-face {
    font-family: roboto-black;
    src: url(../Roboto/Roboto-Black.ttf);
  }

  @font-face {
    font-family: roboto-bold;
    src: url(../Roboto/Roboto-Bold.ttf);
  }

  @font-face {
    font-family: roboto-regular;
    src: url(../Roboto/Roboto-Regular.ttf);
  }

  @font-face {
    font-family: archivo;
    src: url(../Archivo_Black/ArchivoBlack-Regular.ttf);
  }

  

.navbar-top {
   
    background-color: white;
    color:black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 22px;
    font-family: roboto-medium;
    font-weight: bolder; 
}

.navbar-top .fa-search {
    text-align: right;
}

.b-logo {
    width: 300px;  
}

.navbar-top a {
    text-decoration: none;
    color:black;
}

.navbar-top a:hover {
    color: #f35923;
}

.navbar-list {
    list-style-type: none;    
}

.navbar-list .navbar-list-item {
    display: inline-block;
    padding: 45px 8px 35px 8px;
}

.menu {
    display: none;
}


.menu-list {
    width: 38px;
    height: 3px;
    background-color: black;
    margin-bottom: 7px;
}

.menu-list:hover {
    color: #f35923;
}

.search-nav {
    padding: 7px;
    width:170px;
   height: 25px;
    border-radius: 5px;
    border: 1px solid #dee2e6;
    font-size: 15px;
     
}
#search-box {
    display: none;
}

.nav-btn {
    background-color: #f35923;
    color: white;
    border:none;
    border-radius: 5px;
    height:35px;
    width:70px;    
}

#search-button {
    display: none;
}

.nav-btn:hover {
    cursor: pointer;
    background-color: red;
}



@media screen and (max-width: 863px) {
    .navbar-top {
        flex-direction: column;
        position: relative;
    }

    .navbar-top .container-icon {
        width: 100%;
        
    }
    .menu {
        display: block;
        position: absolute;
        right: 18px;
        top: 45px;

    }

    .navbar-list {
        list-style-type: none;
        width: 100%;
        text-align: center;
        display: none;
        font-size: 18px;   
    }

    .navbar-list .navbar-list-item {
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .b-logo {
        float:left;
        width: 180px;
        padding-top: 10px;
        padding-bottom: 15px;
    }

    .navbar-top .fa-search {
        text-align: center;
        padding-left: 0px;
    }

}

@media screen and (max-width: 1162px) {
    .navbar-top {
        flex-direction: column;
        position: relative;
    }

    .navbar-list .navbar-list-item {
       padding-top: 2px;
        padding-bottom: 10px;
    }

    .b-logo {
        width: 250px;
    }
} 

/*Banner */

.banner {
    
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; 
   
    
}



.banner h1 {
font-family: archivo;
font-size: 8em;
font-weight:bolder;
color: white;
text-shadow: 0px 2px 0px rgba(207,16,16,0.89)
}

.banner h2 {
margin-top: 0;
margin-bottom: 0.8em;
font-family: roboto;
font-size: 3em;
letter-spacing: 12px;
font-weight: bolder;
}

.banner .btn {
    display: block;
    width: 250px;
    border: 3px solid black;
    border-radius: 35px;
    padding: 0.6em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    font-family: roboto;
    text-decoration: none;
    font-size: 1.6em;
    background-color: black;
    color:white;
    
}

@media screen and (max-width: 1200px) {
    .banner h1 {
        font-size: 7.5em;    
    }

    .banner h2 {       
        font-size: 2.8em;
        letter-spacing: 12px;
    }
}

@media screen and (max-width: 1080px) {
    .banner {
        background-position: 31% 50%;   
    }
    .banner h1 {
        font-size: 6.5em;    
    }
    .banner h2 {   
        font-size: 2.2em;
        letter-spacing: 10px;
    }
}

@media screen and (max-width: 1024px) {

    .banner {
        background-position: 31% 50%;   
    }
   
        .banner h1 {
            font-size: 5.5em;    
        }

        .banner h2 { 
            font-size: 1.8em;
            letter-spacing: 8px;
        }
    }


@media screen and (max-width: 768px) {
    .banner {
        height:82vh;
            background-size: 1650px;
            
    }

    .banner h1 {
        font-size: 5em;  
    }

    .banner h2 {
        font-size: 1.8em;
        letter-spacing: 8px;
    }
     }

    @media screen and (max-width: 732px) {
        .banner {
            height:80vh;
            background-size: 1600px;
                   
        }

        .banner h1 {
            font-size: 4em;  
        }

        .banner h2 {
            font-size: 1.5em;
            letter-spacing: 6px;
        }
    }

    @media screen and (max-width: 584px) {
        .banner {
            height:70vh;
            background-size: 1400px;       
        }
        .banner h1 {
            font-size: 3.5em;  
        }

        .banner h2 {
            font-size: 1.4em;
            letter-spacing: 4px;
        }    
    }

    @media screen and (max-width: 539px) {
        .banner {
            height:59vh;
            background-size: 1180px;     
        }

        .banner h1 {
            font-size: 2.8em;  
        }

        .banner h2 {
            font-size: 1.2em;
            letter-spacing: 3px;
        }

        .banner .btn {
            width: 180px;
            font-size: 1.1em;
        }
    }

   

/*About us */

.about-us-section {
    margin:auto;
}

.about-us-section .about-us-title {
    margin-top: 120px;
    margin-bottom: 33px;
    text-align: center;
    letter-spacing: 6px;
    font-family: roboto-black;
    font-size: 27px;
   
}

.title-underline {
    width: 140px;
    height: 7px;
    margin: auto;
    background: linear-gradient(to right, #ee5c23, #faa912);
}

.about-us-section > .about-us-section-info {
    width: 40%;
    font-family: roboto-medium;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 75px;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 1px;
  
}

.section-flex-container {
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap;
}

.about-us-icon-container {
    position: relative;
    width: 338px;
    height: 338px;
    background-position: center;
    text-align: center;
    
}

.icon-about-container {
    margin:auto;
    width: 130px;
    height: 130px;
    border: 1px solid black;
    border-radius: 100px;
    position:relative;
    
}

.title-about {
    margin-top: 25px;
    font-family: roboto-medium;
    letter-spacing: 2px;
    font-size: 15px;
   
}

.icon-underline {
    width: 70px;
    height: 3px;
    margin: auto;
    background: black;
    margin-top: 10px;
    margin-bottom: 15px;
}


.about-paragraph {
    padding-right: 30px;
    padding-left: 30px;
    line-height: 25px;
    font-family: roboto-medium;
    font-size: 11px;
    letter-spacing: 1px;
}

.about-icon {
    width: 60px;
    height: 60px;
    position:relative;
    top: 30px; 
   
    
}

.about-us-icon-container:hover .icon-about-container {
    border-color: #f35923;
    background-color: #f35923;
    
}
.about-us-icon-container:hover h3 {
    color:#f35923;
}

.about-us-icon-container:hover .icon-underline {
    background: linear-gradient(to right, #ee5c23, #faa912);
}

/* PORTFOLIO */














