/* PORTFOLIO */

.portfolio-title {
    margin-top: 27px;
    margin-bottom: 33px;
    text-align: center;
    letter-spacing: 6px;
    font-family: roboto-black;
    font-size: 27px;
}

.button-container {
    margin-top: 40px;
    margin-bottom: 55px;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    

}

.buttoners {
    width: 214px;
    height: 75px;
    position: relative;
    
}

.buttoners > button {
    height:50px;
    width: 160px;
    background-color: white;
    color: black;
    font-family: roboto-medium;
    letter-spacing: 1px;
    font-size: 14px;
    padding-top: 5px;
    border: 2px solid #c8c8c8;
    position: absolute;
    left: 12%;   
}

.buttoners > button:hover {
    cursor: pointer;
    background-color:#f35923;
    color: white;
    border-color: #f35923;
}

@media screen and (max-width: 880px) {
    .buttoners {
    width: 160px;
    height:55px;
}
    .buttoners > button {
    height:40px;
    width: 128px;
    font-size: 12px;
}
}

.images-container {
    width: auto;
    height: 100%;
    display: flex;
    justify-content:center;    
    flex-wrap: nowrap;  
    
}
    
.port-img img {
    display: block;
    max-width: 100%;
    height: auto; 
}

.image-container-four {
    display: flex;
                         position: relative;
    flex-direction: row;    
}

/*IMAGE LAYERS */

.port-img {
   position: relative;      
}

.port-img .small-box {
    /*width: 446px;
    height: 306px;*/
    width: calc(100% - 34px);
    height: calc(100% - 34px);
    position: absolute;
    padding: 110px 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    background: linear-gradient(45deg,
    rgba(238, 92, 35, 0.75),
    rgba(250, 169, 18, 0.75));
     }

.port-img .medium-box {
    /*width: 446px;
    height: 646px;*/
    width: calc(100% - 34px);
    height: calc(100% - 34px);
    position: absolute;
    padding: 290px 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    background: linear-gradient(45deg,
    rgba(238, 92, 35, 0.75),
    rgba(250, 169, 18, 0.75));
     }

.port-img .large-box {
    /*width: 926px;
    height: 306px;*/
    width: calc(100% - 34px);
    height: calc(100% - 34px);
    position: absolute;
    padding: 110px 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    background: linear-gradient(45deg,
    rgba(238, 92, 35, 0.75),
    rgba(250, 169, 18, 0.75));
    
    }

    
         

    .brand {
        display: grid;
        place-items: center;
        font-family: roboto-black;
        font-size: 28px;
        letter-spacing: 3px;
        margin-bottom: 10px;
        text-shadow: 0px 2px 0px rgba(207,16,16,0.89)

    }

    .service-type {
        font-family: roboto-regular;
        font-size: 17px;
        letter-spacing: 2px;
        text-shadow: 0px 2px 0px rgba(207,16,16,0.89)
    }

   
/*
    .info-box {
        opacity: 0;
        transition: opacity 0.25s;
    }

    .info-box:hover {
        opacity: 1;
    }
*/
    @media screen and (max-width: 1919px) {
        .images-container {
            justify-content: center;
            flex-wrap: wrap;
        }    
        }
    
    
    @media screen and (max-width: 960px) {
        .image-container-three {
            justify-content: center;   
        }
        .image-container-four {
            flex-wrap: wrap;
            justify-content: center;
        }   
    }
    @media screen and (max-width: 926px) { 
    .shwamhouse-img img {
    width: 926px;
    height: 306px;
    object-fit: cover;
    
    }
}

   
    
      

    /*Counter*/

    .counter{
        width: auto;
    height: 100%;
        padding-top: 90px;
        padding-bottom: 40px;
        display: flex;
        background-color: #f35923;
        justify-content:center;
        flex-wrap: wrap;
        
         }

         

    .count-container {
        width: 280px;
        height: 150px;
        position: relative;
        text-align: center;
       
    }

    .count-container .number {
        font-family: roboto-black;
        font-size: 60px;
        color: white;
        letter-spacing: 8px;
        display:grid;
        padding-top: 15px;
    
        
        

    }

    .count-container .text-count {
        font-family: roboto-regular;
        font-size: 17px;
        color: white;
        letter-spacing: 3px;
        display:grid;

    }

    @media screen and (max-width: 1130px) {
        
        .count-container {
            width: 200px;
            height: 150px;
        }

    }

    @media screen and (max-width: 800px) {
        .count-container {
            width: 280px;
            height: 150px;
        }
    }


    

         

    