/* BLOG */

.blog-section {
    margin: auto;
}

.blog-section .blog-title {
    margin-top: 120px;
    margin-bottom: 33px;
    text-align: center;
    letter-spacing: 6px;
    font-family: roboto-black;
    font-size: 27px;
   
}

.blog-section > .blog-section-info {
    width: 40%;
    font-family: roboto-medium;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 35px;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 1px;
  
}

.blog-section-img-container {
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap;
    
}

.blog-img-container {
    position: relative;
    width: 420px;
    height: 590px;
    background-position: center;
    text-align: center;
    
}

.img-container {
    margin:auto;
    width: 338px;
    height: 370px;
   
    position:relative;
    background-size: 465px;
    background-repeat: no-repeat;
    background-position: center;
    
}



.blog-section > .blog-section-img-container .first-img{    
    background-image: url(../BLOG/kvalitet-ne-izlazi-iz-mode-1000x800px.jpg);
}
.blog-section > .blog-section-img-container .second-img{    
    background-image: url(../BLOG/optimizacija-sajta-1000x800px.jpg);
}
.blog-section > .blog-section-img-container .third-img{    
    background-image: url(../BLOG/psihologija-boja-1000x800px.jpg);
  }
 
  .title-link-container {
    margin-top: 28px;
    font-family: roboto-medium;
    letter-spacing: 2px;
    font-size: 15px;
    
   
}

.date-box{
    position: absolute;
    top: 0;
    right: 0;
    width: 83px;
    height: 95px;
    padding-top: 20px;
    line-height: 30px;
    text-align: center;
    font-size: 18px;
    color: white;
    background-color: #f35923;
    font-family: roboto-regular;
    letter-spacing: 2px;
}

.title-link-container > h3{
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 8px;
}

.title-link-container > h4{
    font-size: 14px;
    font-weight: lighter;
    color: grey;
    font-family: roboto-regular;
    margin-bottom: 16px;
}

.title-link-container > a{
    font-size: 12px;
    letter-spacing: 1px;
    color: rgba(241,90,35,1);
    text-decoration: none;
}

.title-link-container > a > .arrow{
    width: 10px;
    height: 1px;
    background-color: rgba(241,90,35,1);
    display: inline-block;
    margin-bottom: 2px;
    position: relative;
}

.title-link-container > a > .arrow::after{
    content: "";
    width: 5px;
    height: 5px;
    border: 1px solid rgba(241,90,35,1);
    border-left: none;
    border-bottom: none;
    transform: rotateZ(45deg);
    position: absolute;
    top: -2.3px;
    left: 3px;
}

/* Upoznajte naš tim */

.team-section {
    margin: auto;
    background-color: #ffe3d8;
   
}

.team-section  .team-title  {
    padding-top: 100px;
    padding-bottom: 25px; 
    text-align: center;
    letter-spacing: 6px;
    font-family: roboto-black;
    font-size: 27px;
  
   
}

.team-section-img-container {
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap;
    margin-top: 35px;
}

.team-img-container {
    position: relative;
    width: 420px;
    height: 530px;
    background-position: center;
    text-align: center;
   
}

.img-team {
    margin:auto;
    width: 350px;
    height: 420px;
    position:relative;
    background-repeat: no-repeat;
    background-position: center;
    
}

.team-section > .team-section-img-container .first-team-img{    
    background-image: url(../Tim/Ime-Prezime-1-350x420px.jpg);
}
.team-section > .team-section-img-container .second-team-img{    
    background-image: url(../Tim/Ime-Prezime-2-350x420px.jpg);
}
.team-section > .team-section-img-container .third-team-img{    
    background-image: url(../Tim/Ime-Prezime-3-350x420px.jpg);
  }

  .team-box{
    margin:auto;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 330px;
    height: 400px;
    padding-top: 115px;
    padding-left: 11px;
    padding-right: 11px;
   
    text-align: center;
    
    color: white;
    background-image: linear-gradient(45deg, rgba(238, 92, 35, 0.75), rgba(250, 169, 18, 0.75));
    font-family: roboto-regular;
    
}


.team-box i {
    margin: auto;
    color:white;
    display: inline-block;
    letter-spacing: 18px;
    padding-bottom: 30px;    
}

.team-box i:hover {
    color:black;
}


    .team-box {
        opacity: 0;
        transition: opacity 0.25s;
    }

    .team-box:hover {
        opacity: 1;
    }

.team-member {
    display: inline-block;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: roboto-medium;
    padding-top: 20px;
    padding-bottom: 5px;
    
}

.team-position {
    font-size: 14px;
    display: inline-block;
    color:black;
    font-style: normal;
    font-family: roboto-medium;
    letter-spacing: 1px;
    padding-bottom: 12px;
}

.team-underline {
    display: inline-block;
    width: 45px;
    height: 3px;
    margin: auto;
    background-color: white;
    
    
}

.team-text {
    font-size: 11px;
    display: inline-block;
    line-height: 25px;
    letter-spacing: 1px;
    font-style: normal;
    padding-top: 14px;

}

/* KONTAKT */

.contact-section {
    margin: auto;
}

.contact-section  .contact-title  {
    padding-top: 100px;
    padding-bottom: 25px; 
    text-align: center;
    letter-spacing: 6px;
    font-family: roboto-black;
    font-size: 27px;  
}

.contact-flex-container {
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap;
    margin-top: 95px;   
}

.contact-container-one {
    position: relative;
    width: 840px;
    text-align: center;
}

.contact-container-two {
    position: relative;
    width: 420px;
    height: 530px;
   flex-direction: column;
    text-align: center;   
}

.address-container { 
    margin:auto;
    width: 350px;
    height: 390px;
    position:relative;
    border: 1px solid white;
}


.address-container {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    flex-wrap: wrap;
   
}

.address-row {
    display: flex;
    position: relative;
    flex-direction: row;
   
    
}

.form-contact {
    width: 770px;
    margin: auto;
}

 .form-contact .input-field   {
        width: 100%;
       
        border: 1px solid black;
        padding: 20px 20px 14px 20px;
        margin-bottom: 42px;
        font-size: 13px;
        letter-spacing: 1px;
        color: black;
        font-family: roboto-medium;
}

.input-field::placeholder {  
    color: black;
    opacity: 1; 
      }

      .form-contact input[type=textarea] {
    padding-bottom: 145px;
}
.contact-btn {
    display: block;
    margin: auto;
    margin-bottom: 40px;
    width:24%;
    font-size: 13px;
    letter-spacing: 1px;
    padding: 20px 20px 14px 20px;
    color: black;
    border: 1px solid black;
    font-family: roboto-medium;
    background-color: white;
}

.contact-btn:hover {
    cursor: pointer;
    background-color: #f35923;
    color:white;
    border: 1px solid #f35923;
}

.proba {
    position: relative;
    width: 130px;
    height: 110px;
    justify-content: center;
    align-items: center;
}

.address-icon {
width: 80px;
height: 80px;
border: 2px solid black;
border-radius: 50px;
margin-right: 20px;
position: absolute;
left: 25px;

}

.address-icon img {
    width: 35px;
    margin: auto;
    position:relative;
    top: 20px; 
}

.plain-text {
    text-align: left;
    font-family: roboto-medium;
    font-size: 13px;
    line-height: 20px;
}

@media screen and (max-width: 827px) {
    .form-contact {
        width: 600px;
    }
}

@media screen and (max-width: 654px) {
    .form-contact {
        width: 500px;
    }
}

@media screen and (max-width: 534px) {
    .form-contact {
        width: 400px;
    }
    .contact-btn {
        font-size: 9px;   
    }
}

@media screen and (max-width: 464px) {
    .form-contact {
        width: 300px;
    }

    .contact-btn {
        font-size: 6px;   
    }
}

/* FOOTER */

.footer-section {
    margin: auto;
}

.footer-section {
    margin: auto;
}

.footer-icon {
    position: absolute;
    left: 0;
}

.footer-logo {
    width: 120px; 
    position: absolute;
    left: -8px;
  
}

.footer-logo-right {
    width: 100px;
    display: none;
    position:absolute;
    right: 0;
}





.footer-section .footer-row-one {
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap: nowrap;
    background-color: #212121;
    padding-top: 65px;
    color:white;
    font-family: roboto-regular;
    font-style: normal;
    padding-bottom: 20px;      
}




.footer-section .footer-row-two {
    display: flex;
    flex-direction: row;
justify-content: center;

padding-bottom: 25px;
font-family: roboto-regular;
font-size: 17px;
background-color: #0d0d0d;
color: white;
font-weight:lighter;
}

.footer-down {
    width: 630px;
    height: 40px;
    position: relative;
}

.kopirajt {
    width: 300px;
    height:auto; 
    font-size: 13px;
    position:absolute;
    left: 35px;
    bottom: 0;
}

.flat-foot {
    width: auto;
    height: auto;
    position: absolute;
    right: 35px;
    bottom: 0;
}

.flat-foot i {
    font-size: 12px;
}

.flex-package-three {
    width: 440px;
    height:auto;
    position: relative;
}

.digital-agency {
    position: absolute;
    width: 380px;
    left: 13px;
    
}
.flex-package-two {
    width: 240px;
    height:auto;
    position: relative;
}
.footer-menu {
    position: absolute;
    width: 170px;
  
}
.flex-package {
    width: 530px;
    height: 200px;
    position: relative;

}

.newsletter {
    position: absolute;
    width: 490px;
    left: 27px;
    justify-content: center;
}

.navbar-footer {
    list-style-type: none; 
}

.footer-paragraph {
    font-size: 11px;
    margin-top: 25px;
    line-height: 25px;
    margin-bottom: 15px;
}

.orange-footer {
    color:#f35923;
}

.navbar-footer a {
    text-decoration: none;
    color:white;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: bold;
    line-height: 35px;
}

.navbar-footer a:hover {
    color:#f35923;
}

.footer-title {
  position:relative;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: bold;
}

.input-newsletter {
   margin-top: 25px;
   position:relative;
   left: 0;
   width: 100%;
    
}

.newsletter-button {
    display: block;
    margin-top: 25px;
    width: 35%;
    padding: 10px;
    background-color: white;
    border: 1px solid #212121;
    font-size: 11px;
    letter-spacing: 1px;  
}

.newsletter-button:hover {
    cursor: pointer;
    color:white;
    background-color: #f35923;
}

.email-newsletter {
    width: 100%;
    padding: 10px;
    background-color: #212121;
    border: 2px solid white;
 
}

.email-newsletter::placeholder {
    color: white;
    font-size: 12px;
    letter-spacing: 1px;
}

.copyright {
width: 300px;
}

.footer-icons {
width: 200px;
}

.flat-foot a {
    color: white;
    text-decoration: none;
}

.flat-foot a:hover {
    color:#f35923;
}

@media screen and (max-width: 1232px) {
    .flex-package-two {
        display: none;
    }

    .flex-package-three {
        display:none;
    }

    .copyright {
        width: 96%;
        padding-bottom: 25px;
        }
        
        .footer-icons {
        width: 100%;
        }
    
}

    @media screen and (max-width: 522px) {
        .newsletter {
            position: absolute;
            width: 400px;
            left: 15px;
            align-content: center;
        }
    }

        @media screen and (max-width: 430px) {
            .newsletter {
                width: 300px;    
            }

            .newsletter-button {
                font-size: 9px;
                letter-spacing: 0px;   
            }
        }
        

        @media screen and (max-width: 768px) {
            .footer-section .footer-row-two {
                flex-direction: column;
                width: auto;
            }
            .flat-foot {
                left:5px;
        }

        .footer-logo-right {
            display: inline-block;
        }

        .footer-down {
            width: auto;
        }
    }





