/* PORTFOLIO */


.portfolio-title {
    margin-top: 27px;
    margin-bottom: 33px;
    text-align: center;
    letter-spacing: 6px;
    font-family: roboto-black;
    font-size: 27px;
}

.button-container {
    margin-top: 40px;
    margin-bottom: 55px;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    

}

.btn-one {
    display: flex;
    flex-direction: row;
}

.buttoners {
    width: 214px;
    height: 75px;
    position: relative;
    
}

.buttoners > button {
    height:50px;
    width: 160px;
    background-color: white;
    color: black;
    font-family: roboto-medium;
    letter-spacing: 1px;
    font-size: 14px;
    padding-top: 5px;
    border: 2px solid #c8c8c8;
    position: absolute;
    left: 12%;   
}

.buttoners > button:hover {
    cursor: pointer;
    background-color:#f35923;
    color: white;
    border-color: #f35923;
}

@media screen and (max-width: 880px) {
    .buttoners {
    width: 160px;
    height:55px;
}
    .buttoners > button {
    height:40px;
    width: 128px;
    font-size: 12px;
}
}

/* PORTFOLIO GALLERY */

.images-container {
    width: auto;
    height: 100%;
    display: flex;
    justify-content:center;    
    flex-wrap: nowrap;  
}


/* DISPLAY */

#portfolio-all {
    display: flex;
}

#portfolio-logo {
    display: none;
}

#portfolio-web {
    display: none;
}

#portfolio-development {
    display: none;
}

/* DISPLAY kraj */
    
.port-img img {
    display: block;
    max-width: 100%;
    height: auto; 
}

.image-container-four {
    display: flex;
                         position: relative;
    flex-direction: row;    
}

/*IMAGE LAYERS */

.port-img {
   position: relative;      
}

.port-img .small-box {
    /*width: 446px;
    height: 306px;*/
    width: calc(100% - 34px);
    height: calc(100% - 34px);
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    background: linear-gradient(45deg,
    rgba(238, 92, 35, 0.75),
    rgba(250, 169, 18, 0.75));
     }

.port-img .medium-box {
    /*width: 446px;
    height: 646px;*/
    width: calc(100% - 34px);
    height: calc(100% - 34px);
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    background: linear-gradient(45deg,
    rgba(238, 92, 35, 0.75),
    rgba(250, 169, 18, 0.75));
     }

.port-img .large-box {
    /*width: 926px;
    height: 306px;*/
    width: calc(100% - 34px);
    height: calc(100% - 34px);
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    background: linear-gradient(45deg,
    rgba(238, 92, 35, 0.75),
    rgba(250, 169, 18, 0.75));
    }

    .info-box .brand {
        display: grid;
        place-items: center;
        font-family: roboto-black;
        font-size: 28px;
        letter-spacing: 3px;
        margin-bottom: 10px;
        text-shadow: 0px 2px 0px rgba(207,16,16,0.89);
        
    }

    .info-box .service-type {
        font-family: roboto-regular;
        font-size: 17px;
        letter-spacing: 2px;
        text-shadow: 0px 2px 0px rgba(207,16,16,0.89);
       
  
    }

    .medium-box > .brand {
        padding-top: 290px;
    }

    .small-box > .brand {
        padding-top: 110px;
    }

    .large-box > .brand {
        padding-top: 110px;
    }



/* OPACITY PORTFOLIO */
/*
    .info-box {
        opacity: 0;
        transition: opacity 0.25s;
    }

    .info-box:hover {
        opacity: 1;
    }

    /* OPACITY PORTFOLIO kraj */

    @media screen and (max-width: 1919px) {
        .images-container {
            justify-content: center;
            flex-wrap: wrap;
        }    
        }
    
    @media screen and (max-width: 960px) {
        .image-container-three {
            justify-content: center;   
        }
        .image-container-four {
            flex-wrap: wrap;
            justify-content: center;
        }   
    }

    @media screen and (max-width: 960px) { 
        .shwamhouse-img img {
            width: 960px;
            height: 340px;
            object-fit: cover;
    }
}

@media screen and (max-width: 480px) { 
    .how-img img {
        max-width: 100%;
        height: auto;
        object-fit: contain;
}
    .tsif-img img {
        max-width: 100%;
        height: auto;
        object-fit: contain;
    }

    .app-img img {
        max-width: 100%;
        height: auto;
        object-fit: contain;
    }

    .plum-img img {
        max-width: 100%;
        height: auto;
        object-fit: contain;
    }

    .rolex-img img {
        max-width: 100%;
        height: auto;
        object-fit: contain;
    }

    .toyota-img img {
        max-width: 100%;
        height: auto;
        object-fit: contain;
    }

    .bcreative-img img {
        max-width: 100%;
        height: auto;
        object-fit: contain;
    }

    .shwamhouse-img img {
        max-width: 100%;
       max-height: 100%;
        object-fit: cover;
       
}
}

@media screen and (max-width: 425px) {
    .medium-box  .brand {
        padding-top: 240px;
        
    }

    .small-box  .brand {
        padding-top: 110px;
    }

    .large-box  .brand {
        padding-top: 110px;
    }

    .info-box .brand {
        font-size: 25px;
        letter-spacing: 3px;
        margin-bottom: 9px;
    }

    .info-box .service-type {
        font-family: roboto-regular;
        font-size: 15px;
        letter-spacing: 2px;
}
}

@media screen and (max-width: 375px) {
    .medium-box > .brand {
        padding-top: 210px;
    }

    .small-box > .brand {
        padding-top: 110px;
    }

    .large-box > .brand {
        padding-top: 110px;
    }
    .info-box .brand {
        font-size: 22px;
        letter-spacing: 2px;
        margin-bottom: 7px;
    }
    .info-box .service-type {
        font-family: roboto-regular;
        font-size: 13px;
        letter-spacing: 2px; 
}
 }

@media screen and (max-width: 320px) {
    .medium-box > .brand {
        padding-top: 190px;
    }

    .small-box > .brand {
        padding-top: 110px;
    }

    .large-box > .brand {
        padding-top: 110px;
    }

    .info-box .brand {
        font-size: 19px;
        letter-spacing: 1px;
        margin-bottom: 5px;
    }
    .info-box .service-type {
        font-family: roboto-regular;
        font-size: 11px;
        letter-spacing: 2px;
}
}




/* LOGO image container */

    .images-container-logo { 
        width: auto;
        height: 100%;
        display: flex;
        justify-content:center;    
        flex-wrap: wrap;  
    }

    /* WEB image container */

    .images-container-web { 
        width: auto;
        height: 100%;
        display: flex;
        justify-content:center;    
        flex-wrap: wrap;     
    }

    .web-container-two {
        display: flex;
        flex-wrap: wrap;   
        justify-content:center;         
    }

    /* DEVELOPMENT image container */

    .images-container-development { 
        width: auto;
        height: 100%;
        display: flex;
        justify-content:center;      
    }
    
    
      

    /*Counter*/
    

    .counter{
        width: auto;
        height: 100%;
        padding-top: 90px;
        padding-bottom: 55px;
        display: flex;
        background-color: #f35923;
        justify-content:center;
        flex-wrap: wrap;
        
         }

         

    .count-container {
        width: 280px;
        height: 150px;
        position: relative;
        text-align: center;
       
    }

    .count-container .number {
        font-family: roboto-black;
        font-size: 60px;
        color: white;
        letter-spacing: 8px;
        display:grid;
        padding-bottom: 12px;
    
        
        

    }

    .count-container .text-count {
        font-family: roboto-regular;
        font-size: 17px;
        color: white;
        letter-spacing: 3px;
        display:grid;

    }

    @media screen and (max-width: 1130px) {
        
        .count-container {
            width: 200px;
            height: 150px;
        }

    }

    @media screen and (max-width: 800px) {
        .count-container {
            width: 280px;
            height: 150px;
        }
    }

    

    


    

         

    